@import-normalize;

body {
  margin: 0;
  padding: 0;
  font-family: 'Playfair Display', serif;
  background: url(../public/red-phone.jpg);
  background-attachment: fixed;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  font-style: normal;
  text-decoration: none;
  color: currentColor;
}

button {
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.react-icons {
  vertical-align: middle;
}
